{% extends "base.html" %}

{% block title %}Flasky{% endblock title %}

{% block content %}
  <div class="content-section">
    <h1>LOREM IPSUM</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis modi facere nihil fuga voluptates eius rerum dignissimos quasi necessitatibus illo ipsa, laudantium nemo quae magnam ut nobis odit aspernatur! Tempora.
    Quidem nemo aliquid odit, ullam corrupti aspernatur, explicabo nesciunt enim commodi nihil laborum at veniam quo, rem non. Praesentium tempore corporis facilis modi doloremque sapiente tenetur deleniti expedita, id quas.</p>
  </div>
{% endblock content %}